*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  /*10px = 1rem*/
}

body {
  width: 100vw;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}
body .vsc-initialized {
  margin: 0;
}
body header {
  width: 100%;
}
body header #header {
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 0rem 0.2rem 0.5rem 0rem rgba(0, 0, 0, 0.1);
          box-shadow: 0rem 0.2rem 0.5rem 0rem rgba(0, 0, 0, 0.1);
}
body header #header #header_logo {
  margin-right: 3%;
}
body header #header #header_logo h1 {
  color: blue;
  font-size: 3.2rem;
}
body header #header #header_nav nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body header #header #header_nav nav .header_item {
  font-size: 2rem;
  margin-right: 1rem;
  white-space: nowrap;
}
body header #header #header_signUp {
  margin: 0.5rem 1rem 0.5rem 0rem;
  height: 94%;
}
body header #header #header_signUp a.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1rem;
  border-radius: 0.5rem;
}
body header #header #header_signUp a.btn-flat {
  overflow: hidden;
  padding: 1.5rem 6rem;
  color: #fff;
  border-radius: 0;
  background: #000;
}
body header #header #header_signUp a.btn-flat span {
  position: relative;
  z-index: 1;
}
body header #header #header_signUp a.btn-flat:before {
  position: absolute;
  top: 0;
  left: calc(-150% + 5rem);
  width: 150%;
  height: 500%;
  content: "";
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: rotate(45deg) translateX(0) translateY(0);
  transform: rotate(45deg) translateX(0) translateY(0);
  background: #64a1e7;
}
body header #header #header_signUp a.btn-flat:after {
  position: absolute;
  top: -400%;
  right: calc(-150% + 5rem);
  width: 150%;
  height: 500%;
  content: "";
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: rotate(45deg) translateX(0) translateY(0);
  transform: rotate(45deg) translateX(0) translateY(0);
  background: #64a1e7;
}
body header #header #header_signUp a.btn-flat:hover:before {
  -webkit-transform: rotate(45deg) translateX(0) translateY(-50%);
  transform: rotate(45deg) translateX(0) translateY(-50%);
}
body header #header #header_signUp a.btn-flat:hover:after {
  -webkit-transform: rotate(45deg) translateX(0) translateY(50%);
  transform: rotate(45deg) translateX(0) translateY(50%);
}
body header #header #header_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 6rem;
}
body header #header #header_right #header_login {
  margin: auto 2rem auto 0;
  text-align: center;
  height: 4rem;
}
body header #header #header_right #header_login a {
  display: block;
  color: black;
  text-decoration: none;
}
body header #header #header_right #header_login a .fas {
  font-size: 2.4rem;
}
body header #header #header_right #header_login a p {
  margin: 0;
}
body header #header #header_right #header_menu {
  margin: auto 0;
  height: 5rem;
}
body header #header #header_right #header_menu #menu_contents p {
  margin: 0;
}
body header #header #header_right #header_menu #menu_contents .hamburger-menu {
  text-align: center;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
  z-index: 10;
}
body header #header #header_right #header_menu #menu_contents .hamburger-menu__line {
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: black;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
body header #header #header_right #header_menu #menu_contents .hamburger-menu__line::before,
body header #header #header_right #header_menu #menu_contents .hamburger-menu__line::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: black;
  position: absolute;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
body header #header #header_right #header_menu #menu_contents .hamburger-menu__line::before {
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
}
body header #header #header_right #header_menu #menu_contents .hamburger-menu__line::after {
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
}
body header #header #header_right #header_menu #menu_contents .hamburger-menu.open .hamburger-menu__line {
  background-color: transparent;
}
body header #header #header_right #header_menu #menu_contents .hamburger-menu.open .hamburger-menu__line::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
body header #header #header_right #header_menu #menu_contents .hamburger-menu.open .hamburger-menu__line::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
body header #header #header_right #header_menu .nav-sp {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  padding: 60px 10px 0;
  background-color: rgba(20, 63, 143, 0.5);
  text-align: left;
  -webkit-transition: right 0.5s;
  transition: right 0.5s;
}
body header #header #header_right #header_menu .nav-sp a {
  display: inline-block;
  padding: 5px 0;
}
body header #header #header_right #header_menu .nav-sp.open {
  right: 0;
}
/*# sourceMappingURL=style.css.map */